.carrossel__titulo{
    color: var(--laranja);
    background-color: var(--cor-de-fundo-header);
    text-align: center;
    text-transform: uppercase;
    padding: 1rem 0 0.5rem 0;

    font-size: 18px;
    font-weight: 700;
}

.swiper-slide img{
    width: 100%;
}

.swiper-button-prev, .swiper-button-next{
    display: none;
}

.swiper-pagination{
    position: initial;
    margin: 1em 0
}

.carrossel__card{
    display: flex;
    flex-direction: row;
    gap: 7px;
    justify-content: center;
}
.carrossel__div{
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.card__texto-interesse{
    font-weight: 700;
    font-size: 16px;
    color: var(--laranja);
}

.card__titulo{
    font-weight: 700;
    font-size: 18px;
    color: var(--azul);
    margin-top: 0.5em;
}

.card__texto{
    font-weight: 400;
    font-size: 14px;
}

.card__itens{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}
.card__itens img{
    width: 35px;
    height: 35px;
}

.card__botao{
    background-color: var(--laranja);
    border: none;
    padding: 1em;
    color: var(--cor-de-fundo-header);
    
    font-weight: 700;
    font-size: 16px;
}

.estrelas{
    display: flex;
    flex-direction: row;
    gap: 0.2rem;
}



@media screen and (min-width: 1024px){
    .carrossel__titulo{
        font-size: 26px;
    }

    .swiper-pagination{
        margin: 2em 0 3em 0;
    }

    .swiper{
        width: 70%;
    }

    .swiper-button-prev, .swiper-button-next{
        display: block;
        top: 60%;
    }

    .card{
        width: 50%;
        margin: 2em auto;
    }
}

@media screen and (min-width: 1728px) {
    .carrossel__container{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 6em;

        margin: 0 20vw 3em 20vw;
    }
    .swiper-pagination{
        margin: 1em 0;
    }

    .swiper{
        width: 50%;
    }

    .card__texto-interesse{
        font-size: 32px;
    }

    .card__texto{
        font-size: 16px;
    }

    .card{
        width: 60%;
    }
}